@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

.dark {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
